[submodule "Repositorio.2-"]
	path = Repositorio.2-
	url = https://github.com/costantinav/Repositorio.2-.git
[submodule "Repositorio.2"]
	path = NEOLAND
	url = https://github.com/costantinav/Repositorio.2-.git
