body {
  font-family: "Iceberg",
    serif;
  ,
  serif;
  font-size: 20px;
  color: yellow;
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 75px;
}

nav {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 125px;
  border-style: dashed;
  padding: 25px;

}

.buttonav {
  font-size: 25px;
  font-family: "Iceberg",
    serif;
  padding: 20px;
  border-radius: 10px;
  background-color: yellow;
  border-style: dashed;
}

.photos {
  width: 350px;
  border-radius: 25px;
  padding: 25px;
}

section {
  display: flex;
  justify-content: space-around;

}

footer {
  text-align: center;
  padding: 20px;
}

input {
  border-radius: 20px;
  background-color: yellow;
  border-style: dotted;
  color: black;
}

fieldset {
  border-radius: 25px;
  border-style: dotted;
  border-color: yellow;

}

.buttonsub {
  font-family: "Iceberg",
    serif;
  ;
  background-color: yellow;
  border-radius: 25px;
  border-style: dotted;
  border-color: black;
  padding: 15px;
}